*{
    box-sizing: border-box;
}

[class*="col-"]{
    width:100%;
    padding:2vw;
}
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}

.card, .big-card::after {
    content: '';
    clear:both;
    display: table;
}
body{
    color: hsl(0, 0%, 100%);
    background-color: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
}

.big-card{
    background-color: hsl(235, 46%, 20%);
    padding:0;
    border-radius: 15px;
}
.profile{
    background-color:hsl(246, 80%, 60%) ;
    width:100%;
    margin:0;
    border-radius: 15px;
    line-height: 1px;
}
.profile div{
    float:right;
}
.profile div p,h2{
    font-weight: 300;
    padding-top: 15px;
}
.profilePic{
    border: 3px solid white;
    border-radius: 100%;
    padding:1px;
    background-color: white;
    transform: scale(0.5, 0.5);
    
}

.links{
    padding:6% 0%;
}
.links a{
    padding:0% 9%;
    font-weight: 300;
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.5);
}
.links a:focus{
    color: hsla(0, 0%, 100%, 1);
    outline: none;
}
.links a:active{
    color: hsla(0, 0%, 100%, 1);
    border: none;
    outline: none;
}
.links a:hover{
    color:hsla(0, 0%, 100%, 1);
}

#daily:hover{
    cursor: pointer;
}

.card{
    
    padding:0;
    border-radius: 15px;
    overflow: hidden;
    margin-top:5%;

}

.card-sub-section{
    background-color: hsl(235, 46%, 20%);
    position: relative;
    margin-top:-9%;
    border-radius: 15px;
    padding:0% 5% 2% 5%;
    height:150px;
    
}
.present{
    float:left;
    line-height: 5px;
}
.present h3{
    font-weight: 400;
}
.present p{
    font-size: 28px;
    font-weight: 300;
}
.past{
    position: relative;
    left:35%;
    text-align: right;
    display: block;
}

.previous{
    font-weight: 300;
    font-size: 14px;
}

.pic{
    position:relative;
    left: 70%;
    margin:-10px;
    padding:0;
}

.pic img{
    width:75px;
    height: 75px;
}

.work{
    background-color: hsl(15, 100%, 70%);
}

.play{
    background-color:  hsl(195, 74%, 62%);
}

.study{
    background-color: hsl(348, 100%, 68%);
}

.exercise{
    background-color: hsl(145, 58%, 55%);
}

.social{
    background-color: hsl(264, 64%, 52%);
}

.care{
    background-color: hsl(43, 84%, 65%);
}

@media only screen and (min-width: 600px){

    /* Divide 100% by the number of columns you want and then multiply accordingly e.g (100% / 12 = 8.33%) */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .big-card-container{
        width:17%;
        padding-right: 0;
        transform: translateY(50px);
        height:500px;
    }
    .card-container{
        width:66.66%;
    }
    .big-card{
        margin:0;
        width:100%
    }
    .profile{
        display: block;
        line-height: normal;
        height: 400px;
    }
    .profile div{
        float:none;
        padding:0;
    }
    .profile div p,h2{
        font-weight: 300;
        padding-top: 15px;
    }
    .profile div h2{
        font-size: 35px;
        margin-top: -30px;

    }
    .profilePic{
        border: 1px solid white;
        border-radius: 100%;
        padding:1px;
        background-color: white;
        transform: scale(1.5, 1.5);
        
    }
    
    .links{
        padding:6% 0%;
        height: 150px;
        margin-left: 10%;
    }

    .links a{
        line-height: 40px;
    }
    .card{
        display: inline-block;
        width:25%;
        text-align: left;
        

    }
    .card-sub-section{
        height: 200px;
    }
    .container{
        width:100%;
        display: inline-block;
    }
    .float{
        float:left;
    }
    .past{
        position: relative;
        left:0%;
        display: block;
    }
    .Dots{
        position: relative;
        left:100%;
        margin-top: 0;;
    }
    .previous{
        width:max-content;
        text-align: left;
    }
    .present h3{
        white-space: nowrap;
    }
    .present p{
        font-size: 35px;
    }

}